@import '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
.heading {
  font-family: inherit;
  display: inline-table;
  width: 100%;
  clear: both;
  letter-spacing: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .75px;
  background-color: #fff;
  color: #484B4C;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
h1,
h2,
h3,
h4 {
  margin: 0 0 25px 0;
}
h1 {
  font-family: inherit;
  display: inline-table;
  width: 100%;
  clear: both;
  letter-spacing: 0;
  font-weight: 900;
  font-size: 4em;
}
h2 {
  font-family: inherit;
  display: inline-table;
  width: 100%;
  clear: both;
  letter-spacing: 0;
  font-weight: 900;
  font-size: 3em;
}
h3 {
  font-family: inherit;
  display: inline-table;
  width: 100%;
  clear: both;
  letter-spacing: 0;
  font-weight: 900;
  font-size: 2em;
}
h4 {
  font-family: inherit;
  display: inline-table;
  width: 100%;
  clear: both;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 1.25em;
}
p {
  line-height: 1.75;
  margin-bottom: 2em;
}
p.lead {
  font-size: 26px;
  font-weight: 300;
}
p.lead.large {
  font-size: 1.5em;
}
ul {
  padding-left: 20px;
  list-style: square;
}
ul li {
  margin-bottom: 15px;
  padding: 0;
  line-height: 1.5;
}
a {
  color: #EA2D92;
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
  color: #EA2D92;
  text-decoration: underline;
}
#page-wrap {
  padding-bottom: 75px;
}
#page-wrap .jumbotron:last-child {
  padding-bottom: 0px;
}
.jumbotron {
  padding: 75px;
  margin-bottom: 0;
}
.jumbotron.spaced .title {
  margin-top: 100px;
}
.jumbotron.clear {
  background-color: transparent;
}
.jumbotron p:not(.lead) {
  font-size: inherit;
  font-weight: inherit;
}
/*
 * Template Headers
 */
#intro-img-lg {
  position: relative;
  z-index: 0;
  display: table;
  width: 100%;
  overflow: hidden;
}
#intro-img-lg.landing-page {
  height: 500px;
}
#intro-img-lg.landing-page .item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#intro-img-lg.sub-page {
  height: 35vh;
}
#intro-img-lg.simple-page {
  height: auto;
}
#intro-img-lg.landing-page,
#intro-img-lg.inset-page,
#intro-img-lg.sub-page {
  background-color: #000;
}
#intro-img-lg.landing-page #intro-text,
#intro-img-lg.inset-page #intro-text,
#intro-img-lg.sub-page #intro-text {
  color: #fff;
}
#intro-img-lg #intro-img,
#intro-img-lg #intro-video {
  position: relative;
  width: 100%;
}
#intro-img-lg #intro-img {
  z-index: 0;
}
#intro-img-lg #intro-img img {
  width: 100%;
  max-width: none;
  min-height: 100%;
}
#intro-img-lg #intro-video {
  z-index: 0;
}
#intro-img-lg #intro-video #big-video-wrap {
  opacity: .5;
  position: absolute;
  height: 100%;
}
#intro-img-lg #intro-carousel {
  z-index: 1;
  width: 100%;
  height: 100%;
}
#intro-img-lg #intro-carousel .carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  display: table;
  width: 100%;
  height: 500px;
  text-align: center;
}
#intro-img-lg #intro-carousel .carousel-caption .caption-title,
#intro-img-lg #intro-carousel .carousel-caption p {
  text-align: center;
  margin: 0;
  padding: 0;
}
#intro-img-lg #intro-carousel .carousel-caption .caption-title {
  font-size: 40px;
  letter-spacing: 2px;
}
#intro-img-lg #intro-carousel .carousel-caption .caption-title:after {
  content: "";
  display: table;
  margin: 15px auto;
  width: 150px;
  height: 3px;
  background: #fff;
}
#intro-img-lg #intro-carousel .carousel-caption p {
  font-size: 18.4px;
  margin-bottom: 15px;
}
#intro-img-lg #intro-text {
  display: table-cell;
  vertical-align: bottom;
  text-align: left;
  position: relative;
  z-index: 2;
}
/*
 * Landing Page
 */
.landing-page .lead,
.landing-page .title {
  text-align: center;
}
.landing-page .btn {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
/*
 * Navigation
 */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar.navbar-inverse {
  background-color: #484B4C;
}
.navbar .container {
  padding: 0;
  margin-bottom: 0;
}
.navbar .navbar-header {
  background: #fff;
  display: block;
  text-align: center;
  float: none;
  width: 100%;
}
.navbar .navbar-header .navbar-brand {
  color: #484B4C;
  margin: 0 auto;
  padding: 0;
  height: auto;
  float: none;
}
.navbar .navbar-header .navbar-brand img {
  max-height: 125px;
  display: table;
  margin: 0 auto;
  padding: 15px 0;
}
.navbar .nav {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  float: none;
  height: auto;
  max-height: none;
}
.navbar .nav li {
  position: relative;
}
.navbar .nav li a {
  letter-spacing: 2px;
  padding-left: 25px;
  padding-right: 25px;
}
#landing-nav {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  border-width: 1px 0;
  border-radius: 0;
}
#landing-nav a {
  color: #fff;
}
#page-nav,
#inset-nav,
#list-block {
  border: none;
}
#page-nav {
  background-color: #1066B2;
  position: relative;
  padding: 0;
}
#page-nav .nav li a {
  color: #fff;
  font-size: 14px;
  padding: 15px;
  line-height: 20px;
}
#page-nav .nav li.active a {
  background-color: #fff;
  color: #1066B2;
  font-weight: bold;
}
#page-nav .nav li:not(.active):hover a {
  background-color: #EA2D92;
  color: #fff;
}
#inset-nav {
  padding: 10px 0 0;
}
#inset-nav .container {
  display: table;
  width: auto;
  margin: 0 auto;
}
#inset-nav .nav li {
  display: inline-block;
}
#inset-nav .nav li a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 0;
  border-bottom: 1px solid transparent;
}
#inset-nav .nav li.active a,
#inset-nav .nav li:hover a {
  background-color: transparent;
  border-bottom: 1px solid;
}
#inset-nav.navbar-default {
  background-color: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
#inset-nav.navbar-default .nav li a {
  color: #484B4C;
}
#inset-nav.navbar-default .nav li.active a,
#inset-nav.navbar-default .nav li:hover a {
  color: #484B4C;
  border-bottom: 1px solid;
}
#inset-nav.navbar-inverse .nav li a {
  color: #fff;
  opacity: .5;
}
#inset-nav.navbar-inverse .nav li.active a,
#inset-nav.navbar-inverse .nav li:hover a {
  color: #fff;
  border-bottom: 1px solid;
  opacity: 1;
}
#list-block .nav-tabs {
  border: none;
  display: table;
  margin: 0 auto;
}
#list-block .nav-tabs li {
  margin: 0 15px;
}
#list-block .nav-tabs li a {
  color: #484B4C;
  margin: 0;
  text-transform: none;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  padding: 0 0 5px 0;
  opacity: .75;
  font-weight: bold;
}
#list-block .nav-tabs li.active a,
#list-block .nav-tabs li:hover a {
  color: #EA2D92;
  background: none;
  border-bottom-color: #EA2D92;
  opacity: 1;
}
/*
 * Membership Table
 */
.table > tbody tr > td,
.table > thead tr > td,
.table > tbody tr > th,
.table > thead tr > th {
  vertical-align: middle;
  text-align: center;
}
.table > tbody tr > td span,
.table > thead tr > td span,
.table > tbody tr > th span,
.table > thead tr > th span {
  color: #999;
  display: block;
  font-size: 85%;
  font-weight: normal;
}
.table > tbody tr > td span:before,
.table > thead tr > td span:before,
.table > tbody tr > th span:before,
.table > thead tr > th span:before {
  content: "(";
}
.table > tbody tr > td span:after,
.table > thead tr > td span:after,
.table > tbody tr > th span:after,
.table > thead tr > th span:after {
  content: ")";
}
.table tbody tr td:first-child,
.table tbody tr th:first-child {
  text-align: left;
}
.table .t__anchor {
  background: #eee;
}
/*
 * Footer
 */
#footer {
  background-color: #1066B2;
  padding: 50px 0;
}
#footer .nav {
  display: table;
}
@media (max-width: 768px) {
  #footer .nav {
    margin: 0 auto;
  }
}
#footer .nav li {
  display: inline-block;
}
#footer .nav li a {
  color: #fff;
  padding-left: 0;
}
#footer .nav li.active a,
#footer .nav li:hover a {
  background-color: transparent;
  text-decoration: underline;
}
@media (min-width: 768px) {
  #footer .nav-right {
    float: right;
  }
}
