//@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,800,400);
//@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700,900);
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
//@import 'animations.css';
//@import 'animate.css';

@brandcolor: #EA2D92;
@brandcolor2: #1066B2;
@bcolor: #484B4C;
@bcolor2: #fff;
@bcolor3: #999;
@ssize: 85%;
@bsize: 16px;
@hsize: 1em;
@navbar-size: 89px;

.heading {
	font-family: inherit;
	display: inline-table;
	width: 100%;
	clear: both;
	letter-spacing: 0;
}
.heading(heavy) {
	.heading;
	font-weight: 900;
}
.heading(thick) {
	.heading;
	font-weight: 700;
}
.heading(thin) {
	.heading;
	font-weight: 300;
}
.padding(light) {
	padding-top: 35px;
	padding-bottom: 15px;
}
.padding(medium) {
	padding-top: 50px;
	padding-bottom: 25px;
}
.padding(heavy) {
	padding-top: 75px;
	padding-bottom: 50px;
}

.padding(thin) {
	padding-left: 25px;
	padding-right: 25px;
}
.padding(fair) {
	padding-left: 50px;
	padding-right: 50px;
}
.padding(wide) {
	padding-left: 75px;
	padding-right: 75px;
}


// Presets
body {
	font-family: 'Raleway', sans-serif;
	line-height: 1;
	font-size: @bsize;
	font-weight: 400;
	letter-spacing: .75px;
	background-color: @bcolor2;
	color: @bcolor;
}
*, *:after, *:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.clearfix {
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Typography
h1, h2, h3, h4 {
	margin: 0 0 25px 0;
}
h1 {
	.heading(heavy);
	font-size: @hsize*4;
}
h2 {
	.heading(heavy);
	font-size: @hsize*3;
}
h3 {
	.heading(heavy);
	font-size: @hsize*2;
}
h4 {
	.heading(thick);
	font-size: @hsize*1.25;
}
p {
	line-height: 1.75;
	margin-bottom: 2em;

	&.lead {
		font-size: @bsize+10;
		font-weight: 300;

		&.large {
			font-size: 1.5em;
		}
	}
}
ul {
	padding-left: 20px;
	list-style: square;

	li {
		margin-bottom: 15px;
		padding: 0;
		line-height: 1.5;
	}
}
a {
	color: @brandcolor;
	text-decoration: none;
	outline: none;

	&:hover, &:focus {
		color: @brandcolor;
		text-decoration: underline;
	}
}
#page-wrap {
	padding-bottom: 75px;

	.jumbotron:last-child{
		padding-bottom: 0px;
	}
}
.jumbotron {
	padding: 75px;
	margin-bottom: 0;

	&.spaced {
		.title {
			margin-top: 100px;
		}
	}

	&.clear {
		background-color: transparent;
	}

	p:not(.lead) {
		font-size: inherit;
		font-weight: inherit;
	}
}


/*
 * Template Headers
 */
#intro-img-lg {
	position: relative;
	z-index: 0;
	display: table;
	width: 100%;
	overflow: hidden;

	&.landing-page {
		height: 500px;

		.item {
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&.sub-page {
		height: 35vh;
	}

	&.inset-page {
		//height: 55vh;
	}

	&.simple-page {
		height: auto;
	}

	&.landing-page, &.inset-page, &.sub-page {
		background-color: #000;

		#intro-text {
			color: @bcolor2;
		}
	}

	#intro-img, #intro-video {
		position: relative;
		width: 100%;
	}
	#intro-img {
		z-index: 0;

		img {
			width: 100%;
			max-width: none;
			min-height: 100%;
		}
	}
	#intro-video {
		z-index: 0;

		#big-video-wrap {
			opacity: .5;
			position: absolute;
			height: 100%;
		}
	}
	#intro-carousel {
		z-index: 1;
		width: 100%;
		height: 100%;

		.carousel-caption {
			position: relative;
			left: 0;
			right: 0;
			display: table;
			width: 100%;
			height: 500px;
			text-align: center;

			.container {
				//width: 60%;
			}

			.caption-title, p {
				text-align: center;
				margin: 0;
				padding: 0;
			}

			.caption-title {
				font-size: @bsize*2.5;
				letter-spacing: 2px;

				&:after {
					content: "";
					display: table;
					margin: 15px auto;
					width: 150px;
					height: 3px;
					background: #fff;
				}
			}

			p {
				font-size: @bsize*1.15;
				margin-bottom: 15px;
			}
		}
	}

	#intro-text {
		display: table-cell;
		vertical-align: bottom;
		text-align: left;
		position: relative;
		z-index: 2;
	}
}



/*
 * Landing Page
 */
.landing-page {
	.lead, .title {
		text-align: center;
	}
	.btn {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
}



/*
 * Navigation
 */
.navbar {
	margin-bottom: 0;
	border-radius: 0;

	&.navbar-inverse {
		background-color: @bcolor;
	}

	.container {
		padding: 0;
		margin-bottom: 0;
	}

	.navbar-header {
		background: @bcolor2;
		display: block;
		text-align: center;
		float: none;
		width: 100%;

		.navbar-brand {
			color: @bcolor;
			margin: 0 auto;
			padding: 0;
			height: auto;
			float: none;

			img {
				max-height: 125px;
				display: table;
				margin: 0 auto;
				padding: 15px 0;
			}
		}
	}

	.nav {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
		height: auto;
		max-height: none;

		li {
			position: relative;

			a {
				letter-spacing: 2px;
				padding-left: 25px;
				padding-right: 25px;
			}
		}
	}
}
#landing-nav {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: transparent;
	border-width: 1px 0;
	border-radius: 0;

	a {
		color: @bcolor2;
	}
}
#page-nav, #inset-nav, #list-block {
	border: none;
}
#page-nav {
	background-color: @brandcolor2;
	position: relative;
	padding: 0;

	.nav {
		li {
			a {
				color: @bcolor2;
				font-size: 14px;
				padding: 15px;
				line-height: 20px;
			}

			&.active {
				a {
					background-color: @bcolor2;
					color: @brandcolor2;
					font-weight: bold;
				}
			}

			&:not(.active):hover {
				a {
					background-color: @brandcolor;
					color: @bcolor2;
				}
			}
		}
	}
}
#inset-nav {
	padding: 10px 0 0;

	.container {
		display: table;
		width: auto;
		margin: 0 auto;
	}

	.nav {
		li {
			display: inline-block;

			a {
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
				padding-left: 10px;
				padding-right: 10px;
				margin-left: 25px;
				margin-right: 25px;
				border-radius: 0;
				border-bottom: 1px solid transparent;
			}

			&.active, &:hover {
				a {
					background-color: transparent;
					border-bottom: 1px solid;
				}
			}
		}
	}

	&.navbar-default {
		background-color: transparent;
		box-shadow: 0 1px 1px rgba(0,0,0,.25);

		.nav {
			li {
				a {
					color: @bcolor;
				}

				&.active, &:hover {
					a {
						color: @bcolor;
						border-bottom: 1px solid;
					}
				}
			}
		}
	}

	&.navbar-inverse {
		.nav {
			li {
				a {
					color: @bcolor2;
					opacity: .5;
				}

				&.active, &:hover {
					a {
						color: @bcolor2;
						border-bottom: 1px solid;
						opacity: 1;
					}
				}
			}
		}
	}
}
#list-block {
	.nav-tabs {
		border: none;
		display: table;
		margin: 0 auto;

		li {
			margin: 0 15px;

			a {
				color: @bcolor;
				margin: 0;
				text-transform: none;
				border: none;
				border-bottom: 3px solid transparent;
				border-radius: 0;
				padding: 0 0 5px 0;
				opacity: .75;
				//border-top: 0;
				//border-bottom: 0;
				font-weight: bold;

				//@media(min-width: 768px) {
				//	height: 15vh;
				//	padding-top: 6vh;
				//}
			}

			&.active, &:hover {
				a {
					color: @brandcolor;
					background: none;
					border-bottom-color: @brandcolor;
					opacity: 1;
				}
			}
		}
	}
}

/*
 * Membership Table
 */

.table {
	& > tbody, & > thead {
		tr {
			& > td,
			& > th {
				vertical-align: middle;
				text-align: center;

				span {
					color: @bcolor3;
					display: block;
					font-size: @ssize;
					font-weight: normal;

					&:before {
						content: "(";
					}
					&:after {
						content: ")";
					}
				}
			}
		}
	}
	tbody {
		tr {
			td:first-child, th:first-child {
				text-align: left;
			}
		}
	}
	// Highlight selected cells
	.t__anchor {
		background: #eee;
		// color: #fff;
	}
}


/*
 * Footer
 */
#footer {
	background-color: @brandcolor2;
	padding: 50px 0;

	.nav {
		display: table;

		@media(max-width: 768px) {
			margin: 0 auto;
		}

		li {
			display: inline-block;

			a {
				color: @bcolor2;
				padding-left: 0;
			}

			&.active, &:hover {
				a {
					background-color: transparent;
					text-decoration: underline;
				}
			}
		}
	}

	.nav-right {
		@media(min-width: 768px) {
			float: right;
		}
	}
}
