		<section id="contact-us" class="jumbotron">
			<section class="container">
				<div class="col-sm-6">
					<h4>Get your Free Personalised Programme!</h4>
					<p>At primage gym we offer a range of services to suit every member’s need. Sign up today and get a free Personalised Programme to help you through.</p>
					<a href="membership.php" class="btn btn-primary">Let's get started!</a>
				</div>
				<div class="col-sm-6">
					<h4>Visit us</h4>
					<div class="row">
						<div class="col-sm-6">
							<address>
								<p>Kenyatta Road, Next to Muigai Administrative Police(A.P.) Post<br>
									<abbr title="Phone">P:</abbr> (+254) 706 244701<br>
									<abbr title="Email">E:</abbr> <a href="mailto:#">info@primeage.co.ke</a></p>
							</address>
						</div>
						<div class="col-sm-6">
							<address>
								<p>Weekdays - 5am to 9pm<br>
									Saturdays/ Public Holidays - 7am to 7pm</p>
							</address>
						</div>
					</div>
				</div>
			</section>
		</section>

		<footer id="footer">
			<div class="container">
				<div class="col-md-6">
					<nav id="footer-nav">
						<ul class="nav nav-inline">
							<li><a href=""><i class="glyphicon glyphicon-facebook"></i>Facebook</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-6">
					<nav>
						<ul class="nav nav-text nav-right">
							<li><a href="http://www.wearearchangel.com" class="item">Handcrafted in Kenya</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</footer>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
